:ship: :ship: :ship:
${quantity} x "${item.name}" (${item.sku})
Order ID: (${id})
:house_with_garden: :house_with_garden: :house_with_garden:
${customer.firstname} ${customer.lastname}
${customer.address.streetaddress}
${customer.address.city}
